@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
} 

body{
  background: #1F9E84;
}

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #24AE91;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  font-family: 'Josefin Sans', sans-serif;
  flex-wrap: wrap;
}

nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav .logo img{
  width: 40%;
  padding-top: 10px;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 700;
  align-content: center;
  text-align: center;
}

nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  /* background: #fff; */
}

nav .menu-btn i{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #24AE91;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul{
    left: 0;
  }

  nav ul li{
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #fff;
  }
}

.form{
    background-color: #1F1F1F;
    margin: auto;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 110px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 89%;
    padding: 10px 30px;
    border-bottom: solid 20px #1F9E84;
}

.form .titulo{
    float: left;
    padding-left: 50px;
    padding-top: 80px;
    color: #5EC7A7;
    /* font-size: 49px; */
    font-size: 67px;
    width: 430px;
    text-align: left;
}

.form .titulo p{
  text-transform: uppercase;
}

.form .descricao{
  float: left;
  color: #fff;
  font-size: 20px;
  width: 350px;
  text-align: left;
  padding-top: 20px;
}

.form-cadastro{
  float: right;
  padding-right: 50px;
  padding-top: 45px;
  width: 520px;
  color: #DFDFDF;
}

.login-form img{
  width: 100%;
  padding-left: 55px;
  padding-right: 55px;
}

.txtb{
  border-bottom: 2px solid #DFDFDF;
  position: relative;
  margin: 20px 0;
}

.txtb input{
  font-size: 15px;
  color: #fff;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  font-family: 'Josefin Sans', sans-serif;
  height: 40px;
}

.txtb select{
  font-size: 15px;
  color: #fff;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  font-family: 'Josefin Sans', sans-serif;
  height: 40px;
}

.txtb select option,.txtb select optgroup {
  font-size: 15px;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
}

.txtb textarea{
  font-size: 15px;
  color: #fff;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  font-family: 'Josefin Sans', sans-serif;
  height: 40px;
}

input[type="number"]{
  font-size: 15px;
  color: #fff;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  font-family: 'Josefin Sans', sans-serif;
  height: 40px;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #DFDFDF;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.disable-select{
  color: #777;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Josefin Sans', sans-serif;
  color: #777;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Josefin Sans', sans-serif;
  color: #777;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Josefin Sans', sans-serif;
  color: #777;
}

.fsenha a{
  color: #DFDFDF;
  /* text-decoration: underline; */
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 40px;
  font-weight: 900;
}

.logbtn{
  display: block;
  width: 100%;
  margin: auto;
  height: 70px;
  border: none;
  font-size: 14px;
  background-color:#24AE91;
  background-size: 200%;
  color: #fff;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;   
}

.logbtn:hover{
  background-color:#177561;
  transition: 0.5s;  
}

.bottom-text a{
  color: #0c0c0c;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 900;
}

.bottom-text-login a{
  color: #0c0c0c;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 900;
}

hr{
  border-top: 2px solid rgb(0, 0, 0);
}

.no-show-desktop{
  display: table;
}

.no-show-mobile{
  display: none;
}

.login-form .login {
  text-align: center;
  align-content: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.bottom-text-login{
  /* margin-top: 60px; */
  background-color: #111111;
  text-align: center;
  line-height: 40px;
  color: white !important;
  transition: .5s;
  font-weight: 700;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.bottom-text-login:hover{
  /* margin-top: 60px; */
  background-color: #000000;
  text-align: center;
  line-height: 40px;
  color: white !important;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
      
}

.bottom-text-login a{
  font-family: 'Josefin Sans', sans-serif;   
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  border: 7px solid rgb(19, 19, 19);
  box-shadow: inset 0 0 2.5px 2px rgb(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(
  45deg,
  #98cec3,
  #98cec3
  );
  border-radius: 3px;
}

.categoria{
  color: #DFDFDF;
  text-align: left;
  float: left;
}

.range{
  height: 80px;
  width: 480px;
  background: #1F1F1F;
  border-radius: 10px;
  padding: 0 65px 0 70px;
}

.sliderValue{
  position: relative;
  width: 100%;
}

.sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.sliderValue span.show{
  transform: translateX(-70%) scale(1);
}

.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #5EC7A7;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.field .value{
  position: absolute;
  font-size: 15px;
  color: #5EC7A7;
  font-weight: 600;
}

.field .value.left{
  left: -60px;
}

.field .value.right{
  right: -43px;
}

.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #5EC7A7;
  border: 1px solid #5EC7A7;
  cursor: pointer;
}

.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #5EC7A7;
  border: 1px solid #5EC7A7;
  cursor: pointer;
}

.range input::-moz-range-progress{
  background: #5EC7A7;
}

.categoria-titulo{
  font-weight: 700;
}


@media screen and (max-width: 700px){
  .form{
    background-color: transparent !important;
    height: 130px !important;
    top: 0 !important;
  }

  nav .logo img{
    width: 30%;
    padding-top: 0px;
}

  .autor-projeto{
    color: #1f1f1f;
    text-transform: uppercase;
    }

  .form .titulo {
    float: left;
    color: #1f1f1f;
    padding-left: 0;
    padding-top: 50px;
    font-size: 47px;
    width: 280px;
    text-align: left;
  }

  .form .descricao {
    float: left;
    color: #fff;
    font-size: 20px;
    width: 280px;
    text-align: left;
    padding-bottom: 45px;
    padding-top: 20px;
  }

  .form-cadastro {
    float: inherit;
    padding-right: 50px;
    padding-top: 10px;
    width: 116%;
    color: #DFDFDF;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
  }

  .range {
    height: 80px;
    width: 100%;
    background: #1F1F1F;
    border-radius: 10px;
    padding: 0 65px 0 70px;
  }

  .logbtn{
    display: block;
    width: 100%;
    margin: auto;
    height: 70px;
    border: none;
    font-size: 14px;
    background-color:#1f1f1f;
    background-size: 200%;
    color: #fff;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;    
  }

  .logbtn:hover{
    background-color:#000;
    transition: 0.5s;
  }

  .txtb {
    border-bottom: 2px solid #000000;
  }
}


.mensagem{
padding: 77px 50px 0 0;
font-size: 27px;
text-align: right;
}


.button {
border: none;
color: #ddd;
padding: 1px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1 {
background-color: #1f9e84; 
font-weight: 800;
color: #000; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.5s;
font-size: 13px;
margin-top: 70px;
padding: 36px 68px;
}

.button1:hover {
background-color: #000; 
font-weight: 600;
color: #fff; 
border: 2px solid #fff;
font-family: 'Josefin Sans', sans-serif;
transition: 0.5s;
}

@media (max-width: 350px) {
  nav .logo{
    width: 180px;
    padding-bottom: 10px;
  }

  nav {
    padding: 0 20px 0 20px;
  }
}

.titulo-autor-projeto{
text-align: left;
line-height: 35px;
font-weight: 900;
text-transform: uppercase;
}

.autor-projeto{
color: #777469;
text-transform: uppercase;
}


.email-link{
text-decoration: none;
color: #DFDFDF;
}


.email-link:hover{
text-decoration: none;
color: #5EC7A7;
transition: 0.7s;
}


@media screen and (min-width: 1400px){
  nav ul li {
    margin: 0 16px;
  }

  nav ul li a {
    font-size: 18px;
  }
nav {
display: flex;
height: 100px;
}

nav .logo img {
width: 45%;
padding-top: 5px;
}
  .form {
height: 620px;
margin-top: 50px;
  }
  .form-cadastro {
float: right;
padding-right: 50px;
padding-top: 10px;
width: 725px;
color: #DFDFDF;
}
.form .titulo {
float: left;
padding-left: 50px;
padding-top: 50px;
color: #5EC7A7;
/* font-size: 49px; */
font-size: 85px;
width: 478px;
text-align: left;
}
.form .descricao {
float: left;
color: #fff;
font-size: 24px;
width: 500px;
text-align: left;
padding-top: 20px;
}
.txtb input, input[type="number"], .txtb select, .txtb select optgroup, .txtb select option, .txtb textarea {
font-size: 18px;
}

.range {
height: 90px;
width: 100%;
}

.categoria-titulo {
font-weight: 700;
font-size: 19px;
}
.field .value {
position: absolute;
font-size: 18px;
color: #5EC7A9;
font-weight: 600;
}
.logbtn {
display: block;
width: 100%;
margin: auto;
height: 70px;
border: none;
font-size: 18px;
}
.txtb {
border-bottom: 2px solid #DFDFDF;
position: relative;
margin: 28px 0;
}
.titulo-autor-projeto {
text-align: left;
line-height: 35px;
font-weight: 900;
font-size: 19px;
text-transform: uppercase;
}
}