
  

    @media screen and (max-width: 700px){
        
        .nav-wrapper .brand-logo img{
            width: 40%;
        }
    }

    #nav-mobile{
        padding-right: 10px;
        
        
    }

    #nav-mobile a{
        padding-right: 35px;
        padding-left: 35px;
        font-size: 14px;
        font-weight: 700;
        align-content: center;
        text-align: center;
    }

    #nav-mobile a:hover{
       text-decoration: none;
        color: white;

    }

    .not-activate{
        color: black;
    }

    .activate{
        color: white;
    }

    body, html {
height: 100%;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
background-color: #24AE91;
height: 460px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin: 0;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.bem-vindo{
text-align: right;
padding-top: 8%;
color: white;
padding-right: 11%;
line-height: 60px;
font-size:35px;
font-family: 'Poppins', sans-serif;
letter-spacing: 1px;
}

.banner{
text-align: right;
padding-top: 8%;
color: white;
line-height: 60px;
font-size:35px;
font-family: 'Poppins', sans-serif;
letter-spacing: 1px;
}

.button {
border: none;
color: #ddd;
padding: 1px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1 {
background-color: transparent; 
font-weight: 800;
color: #000; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.3s;
}

.button1:hover {
background-color: #0B342C; 
font-weight: 600;
color: #fff; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.5s;
}


.button-vermais {
border: none;
padding: 30px 80px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1-vermais {
background-color: transparent; 
font-weight: 800;
color: #24AE91; 
border: 2px solid #24AE91;
font-family: 'Josefin Sans', sans-serif;
transition: 0.3s;
}

.button1-vermais:hover {
background-color: #0000; 
font-weight: 600;
color: #fff; 
border: 2px solid #fff;
font-family: 'Josefin Sans', sans-serif;
transition: 0.5s;
}

.img-banner img{
width: 100%;
padding-top: 0;
padding-left: 75px;
}

@media screen and (min-width: 1400px){
.img-banner img{
width: 90%;
padding-top: 0;
padding-left: 150px;
}



.bem-vindo{
text-align: right;
padding-top: 8%;
color: white;
padding-right: 11%;
line-height: 60px;
font-size:40px;
font-family: 'Poppins', sans-serif;
letter-spacing: 1px;
}


.button {
border: none;
color: #ddd;
padding: 4px 60px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1 {
background-color: transparent; 
font-weight: 800;
color: #000; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.3s;
}


.button-projeto {
border: none;
color: #ddd;
padding: 1px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1-projeto {
background-color: transparent; 
font-weight: 800;
color: #000; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.3s;
}

.button1-projeto:hover {
background-color: #0B342C; 
font-weight: 600;
color: #fff; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.5s;
}


.footer{
background-color: #1D1D1D;
width: 100%;
height: 200px !important;
}

.footer .rede-social{
background-color: #1D1D1D;
align-content: center;
align-items: center;
-moz-box-align: center;
padding-left: 110px;
padding-top: 25px;
}

.footer .logo-footer{
background-color: #1D1D1D;
align-content: center;
align-items: center;
-moz-box-align: center;
padding-left: 120px;
}


.footer .logo-footer img{
width: 55%;

}

.rede-social img{
width: 70% !important;
padding-top: 10px;
}

.ver-mais{
padding-left: 45%;
}

.button-vermais {
border: none;
padding: 30px 100px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1-vermais {
background-color: transparent; 
font-weight: 800;
color: #24AE91; 
border: 2px solid #24AE91;
font-family: 'Josefin Sans', sans-serif;
transition: 0.3s;
}


}

.banner{
color: black;
text-align: left;
padding-left: 4%;
font-size: 40px;
height: 230px;
padding-top: 4%;
width: 50%;
font-family: 'Josefin Sans', sans-serif;
margin: 0 0 15px 0;
}

.banner .titulo{
color: black;
text-align: left;
font-weight: 700;
max-width: 100%;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
}

.banner .autor{
font-size: 15px;
margin: 0;
padding: 0;
}

.row{
width: 100%;
margin: 0 !important;
padding: 0;
}

.ver-mais{
height: 100px;
background-color: #1D1D1D;
width: 100%;
align-content: center;
align-items: center;
-moz-box-align: center;
padding-left: 42%;
padding-top: 5px;
}

.footer{
background-color: #1D1D1D;
width: 100%;
align-content: center;
align-items: center;
-moz-box-align: center;
height: 170px;
}

.footer .rede-social{
background-color: #1D1D1D;
align-content: center;
align-items: center;
-moz-box-align: center;
padding-left: 110px;
padding-top: 30px;
}

.footer .logo-footer{
background-color: #1D1D1D;
align-content: center;
align-items: center;
-moz-box-align: center;
padding-left: 120px;

}


.footer .logo-footer img{
width: 65%;

}

.rede-social img{
width: 90%;
}

@media screen and (max-width: 700px){

.hero-image{
height: 640px;
}

.bem-vindo{
font-size: 23px;
line-height: 37px;
text-align: center !important;
padding-right: 0;
padding-left: 0;
}

.button{
padding: 16px 58px;
}

.banner{
width: 100%;
height: 300px;
padding-left: 43px;
/* display: table-row-group; */
padding-top: 60px;
}

.banner .titulo{
font-size: 35px;
line-height: 45px;
}

.row-2{
display: block;
}

.button-projeto {
border: none;
color: #ddd;
padding: 1px 65px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1-projeto {
background-color: transparent; 
font-weight: 800;
color: #000; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.3s;
}

.button1-projeto:hover {
background-color: #0B342C; 
font-weight: 600;
color: #fff; 
border: 2px solid #000;
font-family: 'Josefin Sans', sans-serif;
transition: 0.5s;
}


.button-vermais {
border: none;
padding: 30px 80px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}

.button1-vermais {
background-color: transparent; 
font-weight: 800;
color: #24AE91; 
border: 2px solid #24AE91;
font-family: 'Josefin Sans', sans-serif;
transition: 0.3s;
}

.button1-vermais:hover {
background-color: #0000; 
font-weight: 600;
color: #fff; 
border: 2px solid #fff;
font-family: 'Josefin Sans', sans-serif;
transition: 0.5s;
}
.ver-mais{
padding: 0;
text-align: center;
align-content: center;
align-items: center;
}

.img-banner img{
width: 100%;
padding-top: 0;
/* padding-left: 50px; */
padding-left: 0;
}

.footer .rede-social{
text-align: center;
align-content: center;
align-items: center;
padding: 10px;
}

.rede-social img{
width: 10%;
}

.footer .logo-footer{
padding: 10px;
text-align: center;
padding-top: 40px;
}

.footer .logo-footer img{
width: 30%;
}

.no-show-mobile{
display: none;
}



}  



::-webkit-scrollbar{
    width: 10px;
    }
    
    ::-webkit-scrollbar-track{
    border: 7px solid rgb(19, 19, 19);
    box-shadow: inset 0 0 2.5px 2px rgb(0,0,0,0.5);
    }
    
    ::-webkit-scrollbar-thumb{
    background: linear-gradient(
    45deg,
    #98cec3,
    #98cec3
    );
    border-radius: 3px;
    }
    .info{
        /* background-color: #282727; */
        background-color: #1d1d1d;
        font-family: 'Josefin Sans', sans-serif;
        /* height: 590px; */
        height: 100%;
        padding-top: 100px;
        padding-left: 50px !important;
        color: white;
        margin: 0;
    }

    
    /* .row-2{
  
    display: -webkit-inline-box;
    padding: 0;
    }
    
    .coluna-1{
        margin: 0;
    }

    .coluna-2{
        margin: 0;
    } */

    .meus-projetos{
        background-color: #353535;
        height: 100%;
        padding: 15px;
        color: white;
        margin: 0;
    }

    .info .nome{
        /* padding: 100px 22% 0 22%; */
        text-transform: uppercase;
        font-weight: 900;
        text-align: left;
    }

    
    .info .update{
        /* padding: 10px 22% 0 22%; */
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 900;
        
        text-align: left;
    }


    .info .update a{
        color: #ddd;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 900;
    }

    .info .update a:hover{
        color: rgb(170, 170, 170);
        transition: 0.5s;
    }


    .info .excluir{
        /* padding: 300px 60px; */
        padding-top: 300px;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        color: #24AE91;
    }

    .info .excluir a{
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        color: #24AE91;
    }


    .info .excluir a:hover{
        color: #1b9278;
        transition: 0.5s;
    }