
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  /* min-height: 100vh; */
  background-image: url("../img/Splash\ Desktop.png");
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row{
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-sm-6 .splash-img{
  /* width: 105%;
  padding-top: 40px;
  padding-left: 190px; */
  width: 102%;
  padding-top: 10px;
  padding-left: 240px;
}

.right-col{
  padding-right: 200px !important;
  }
  
.col-sm-6 .right{
  align-content: left;
  align-items: left;
  max-width: 400px;
  padding-top: 100px;
  padding-right: 0px;
  font-weight: 900;
  text-align: right;
  color: white;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.col-sm-6 .right .right-404{
  width: 70%;
}

.col-sm-6 .logo-right{
  width: 50%;
  padding-right: 15px;
}

.button {
  border: none;
  padding: 30px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}


.button1 {
  background-color: transparent; 
  font-weight: 800;
  color: #000; 
  border: 2px solid #000;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.3s;
}

.button1:hover {
  background-color: #06241e; 
  color: #fff; 
  border: 2px solid #000;
  transition: 0.5s;
}

@media screen and (max-width: 700px){
  
  .row{
    padding: 0 !important;
    margin: 0 auto !important;
  }
  
  .col-sm-6 .splash-img{
    width: 95%;
    padding-top: 0px;
    padding-right: 0;
    padding-left: 0px;
  }

  .col-sm-6{
    padding: 0 !important;
    margin: 0;
  }
  
  .col-sm-6 .right{
   padding-top: 0;
   width: 100%;
   margin: 0 !important;
   font-size: 20px;
   padding-right: 15px;
   padding-left: 15px;
   align-content: center;
   align-items: center;
   text-align: center;
  }

  .right-col{
    padding-right: 0 !important;
    }

   
.button {
  border: none;
  padding-right: 0;
  padding: 30px 82px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}


.button1 {
  background-color: transparent; 
  font-weight: 800;
  color: #000; 
  border: 2px solid #000;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.3s;
}

.button1:hover {
  background-color: #06241e; 
  color: #fff; 
  border: 2px solid #000;
  transition: 0.5s;
}

.col-sm-6 .right .right-404{
  width: 74%;
  padding: 0px;
}

.col-sm-6 .logo-right{
  padding-right: 0;
  width: 47%;
}
}
