    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: montserrat;
        box-sizing: border-box;
    }
  
    .mensagem{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
    }

    body{
        min-height: 100vh;
        /* background-image: linear-gradient(120deg,#5EC7A7,#00857B); */
        /* background-image: url("../img/Splash\ Desktop.png"); */
        background-image: url("../img/background-cadastro-sucesso.png");
        font-family: 'Josefin Sans', sans-serif;
    }

    .cadastro-sucesso{
        width: 450px;
        background: #5EC7A7;
        height: 550px;
        text-align: center;
        padding: 50px 40px !important;
        /* border-radius: 10px; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .button {
        border: none;
        width: 330px;
        height: 60px;
        /* padding: 25px 100px; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 11px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: 'Josefin Sans', sans-serif;
    }
  
  
    .button1 {
        background-color: transparent; 
        font-weight: 800;
        color: #000; 
        border: 2px solid #000;
        font-family: 'Josefin Sans', sans-serif;
        transition: 0.3s;
    }
    
    .button1:hover {
        background-color: #06241e; 
        color: #fff; 
        border: 2px solid #000;
        transition: 0.5s;
    }

    .cadastro-sucesso .login {
        text-align: center;
        align-content: center;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
  
    .cadastro-sucesso img{
        text-align: center;
        /* margin-bottom: 60px; */
        /* font-family: 'Josefin Sans', sans-serif; */
        width: 70%;
        align-content: center;
        padding-left: 90px;
            
    }


    .txtb{
        border-bottom: 2px solid #adadad;
        position: relative;
        margin: 30px 0;
    }
    
    .txtb input{
        font-size: 15px;
        color: #ffffff;
        border: none;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        font-family: 'Josefin Sans', sans-serif;
        height: 40px;
    }

    .txtb span::before{
        content: attr(data-placeholder);
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        z-index: -1;
        transition: .5s;
    }
  
    .txtb span::after{
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        background: linear-gradient(120deg,#5EC7A7,#00857B);
        transition: .5s;
    }
  
    .focus + span::before{
        top: -5px;
    }

    .focus + span::after{
        width: 100%;
    }
    
    .logbtn{
        /* display: block; */
        width: 330px;
        height: 60px;
        border: none;
        font-size: 12px;
        background: linear-gradient(120deg,#000000,#1b1b1b,#2c2c2c);
        background-size: 200%;
        color: #fff;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: .5s;
        font-family: 'Poppins', sans-serif;
            
    }

    .fsenha a{
        color: #5EC7A7;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        line-height: 40px;
        font-weight: 700;
    }
  
    .logbtn:hover{
        background-position: right;
    }
  
    .bottom-text{
        /* margin-top: 60px; */
        text-align: left;
        line-height: 40px;
        color: white;
        font-size: 13px;
        font-family: 'Josefin Sans', sans-serif;
            
    }

    .bottom-text a{
        color: #5EC7A7;
        font-family: 'Josefin Sans', sans-serif;      
    }
  
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Josefin Sans', sans-serif;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: 'Josefin Sans', sans-serif;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        font-family: 'Josefin Sans', sans-serif;
    }

    .no-show-desktop{
        display: none;
    }
  

    @media screen and (max-width: 700px){
        body{
            min-height: 100vh;
            background-color: #24AE91 !important;
            font-family: 'Josefin Sans', sans-serif;
        }

        .mensagem{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 45px;
            font-weight: 900;
            text-transform: uppercase;
        }

        .button {
            border: none;
            width: 100%;
            height: 60px;
            /* padding: 25px 100px; */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 11px;
            margin: 4px 2px;
            cursor: pointer;
            font-family: 'Josefin Sans', sans-serif;
        }
  
  
        .button1 {
            background-color: transparent; 
            font-weight: 800;
            color: #000; 
            border: 2px solid #000;
            font-family: 'Josefin Sans', sans-serif;
            transition: 0.3s;
        }
        
        .button1:hover {
            background-color: #06241e; 
            color: #fff; 
            border: 2px solid #000;
            transition: 0.5s;
        }

        .cadastro-sucesso{
            width: 100%;
            background: #24AE91;
            height: 600px;
            padding: 70px 40px !important;
            border-radius: 10px;
            position: absolute;
            /* left: 50%; */
            /* top: 50%; */
            transform: translate(-50%,-50%);
        }

        .cadastro-sucesso img{
            width: 100%;
            padding-left: 55px;
            padding-right: 55px;
        }

        .txtb{
            border-bottom: 2px solid #000000;
            position: relative;
            margin: 30px 0;
        }
        
        .txtb input{
            font-size: 15px;
            color: #000000;
            border: none;
            width: 100%;
            outline: none;
            background: none;
            padding: 0 5px;
            font-family: 'Josefin Sans', sans-serif;
            height: 40px;
        }

        .txtb span::before{
            content: attr(data-placeholder);
            position: absolute;
            top: 50%;
            left: 5px;
            color: #000000;
            transform: translateY(-50%);
            z-index: -1;
            transition: .5s;
        }
        
        
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-family: 'Josefin Sans', sans-serif;
            color: #282828;
        }
  
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-family: 'Josefin Sans', sans-serif;
            color: #282828;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            font-family: 'Josefin Sans', sans-serif;
            color: #282828;
        }

        
        .fsenha a{
            color: #000000;
            /* text-decoration: underline; */
            font-family: 'Poppins', sans-serif;
            font-size: 13px;
            line-height: 40px;
            font-weight: 900;
        }

        .logbtn{
            display: block;
            width: 100%;
            height: 60px;
            border: none;
            font-size: 12px;
            background: linear-gradient(120deg,#222222,#131313,#000000);
            background-size: 200%;
            color: #fff;
            outline: none;
            font-weight: 700;
            cursor: pointer;
            transition: .5s;
            font-family: 'Poppins', sans-serif;
            
        }
        .bottom-text a{
            color: #0c0c0c;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 13px;
            font-weight: 900;
        }

        hr{
            border-top: 2px solid rgb(0, 0, 0);
        }

        .no-show-desktop{
            display: table;
        }

        .no-show-mobile{
            display: none;
        }

        .cadastro-sucesso .login {
            text-align: center;
            align-content: center;
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            font-size: 17px;
            font-weight: 700;
        }

    }
