
@media screen and (max-width: 700px){
    .form{
      background-color: transparent !important;
    }
.form .titulo {
  float: left;
  padding-left: 0 !important;
  padding-top: 50px;
  color: #1f1f1f;
  font-size: 55px;
  max-width: 62px;
  width: 430px;
  text-align: left;
}


}
